# Creating the final results CSV

In [2]:
import pandas as pd

In [3]:
results_df = pd.DataFrame(columns = ["name", "category", "imdb_audience_score", "rt_critic_score", 
                                     "rt_audience_score", "sentiment_score", "oscar_win"])

In [4]:
filenames = ["actor_results.csv", 
             "actress_results.csv", 
             "picture_results.csv", 
             "supporting_actor_results.csv", 
             "supporting_actress_results.csv"]

In [5]:
for file in filenames:
    df = pd.read_csv(file)
    results_df = results_df.append(df)

In [6]:
results_df.head()

,name,category,imdb_audience_score,rt_critic_score,rt_audience_score,sentiment_score,oscar_win
0,Anthony Hopkins,actor,0.2075,0.2450,0.2275,0.180646,0.860646
1,Riz Ahmed,actor,0.1950,0.2425,0.2275,0.177165,0.842165
2,Chadwick Boseman,actor,0.1750,0.2450,0.1850,0.155235,0.760235
3,Gary Oldman,actor,0.1725,0.2075,0.1475,0.179050,0.706550
4,Steven Yeun,actor,0.1900,0.2450,0.2200,0.167696,0.822696

In [6]:
results_df.to_csv("results.csv", index = False)